/* smaller screens */
@media (max-width: 1180px) {
  .wrapper {
    width: 90%;
  }
  #social {
    position: absolute;
    width: auto;
    margin-top: 82px;
    margin-right: 4px;
  }
}
/* tablets */ 
@media (max-width: 900px) {
  body {
    font-size: 85%;
  }
  #logo h1 {
    height: 35px;
    width: 35px;
  }
  #logo h2 {
    font-size: 2.2em;
  }
  #social {
    position: 72px;
  }
  .col-3 p {
    column-count: 2;
     column-rule: 1px dotted #ccc;
     column-gap: 1.5em;
  }
   .col-1 p {
    column-count: 2;
     column-rule: 1px dotted #ccc;
     column-gap: 1.5em;2;
  }
   .col-2 p {
    column-count: 2;
     column-rule: 1px dotted #ccc;
     column-gap: 1.5em;
  }
}

@media (max-width: 750px) {
  #navbar nav a{
    font-size: .9em;
  }
  .col-3 p {
    column-count: 1;
    width: 100%;
    margin-left: 0;
    float: none;
  }
    .col-2 p {
    width: 100%;
    margin-left: 0;
    float: none;
  }
    .col-1 p {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  .border-right {
    border: 0;
  }
  #details div {
    height: auto;
  }
}
@media (max-width: 700px) {
  #nav {
    visibility: hidden;
  }
  h2 {
   visibility: hidden;
  }
}





